<div class="card p-3">
    <div class="row">
        <h1 class="text-center"> Hello Everyone</h1>
        <p> this is my Bettery-finder. We have hat home lots of Batterys but we don´t now were there are. And than I
            programmed this Finder. You can write the Battery´s name into a table, where it is and fi it is a battery
            pack or an battery. you can edit or delete it.
        </p>
        <p>Here are your Batteries:</p>
        <button class=" mt-2 btn btn-outline-success btn-large" routerLink="/battery-aaa">AAA Batteries</button>
        <button class=" mt-2 btn btn-outline-success btn-large" routerLink="/battery-aa">AA Batteries</button>
        <button class=" mt-2 btn btn-outline-success btn-large" routerLink="/battery-block">Block Batteries</button>
    </div>
</div>