<div class="card p-3">
    <div class="row">
        <table class="table-striped table hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Place</th>
                    <th>Date</th>
                    <th>Kind</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tes1Name</td>
                    <td>Tes1Place</td>
                    <td>Tes1Date</td>
                    <td>Tes1Kind</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>